.search-wrap{
    overflow:hidden;
}
.logo{
    width:240px;
    height: 130px;
    float: left;
}
.search-box{
    float: left;
    margin: 38px 0 0 120px;
}
.search{
    width: 625px;
    height: 36px;
    border: 2px solid #ff0036;
}
.search-text{
    width: 491px;
    height: 36px;
    border: none;
    outline: none;
    float: left;
}
.search-btn{
    width: 134px;
    height: 36px;
    border: none;
    background: #ff0036;
    float: left;
    color: #fff;
    font-size: 18px;
}
.search-li li a{
    /*float: left;*/
    color: #999999;
    display: block;
    padding:0 12px;
    font-size: 14px;
}
.menu-list a:hover{
    color: #ff0036;
}
.search-li{
    margin-top: 5px;
    margin-left: -12px;
}
.search-li li.under-search-hot a{
    color: #ff0036;
}
.search-li li{
    position: relative;
    float: left;
}
.search-li li span{
    width: 1px;
    height: 14px;
    background: #999999;
    position: absolute;
    right: 0;
    top:4px;
}
/*search end*/

/*menu*/
.menu-box{
    height: 35px;
    border-bottom: 2px solid #FF0036;
}
.menu-list{
    margin-left: 200px;
}
.menu-list li{
    float: left;
    height: 36px;
    line-height: 36px;
}
.menu-list img{
    width: 100px;
    margin-top:3px;
    /*vertical-align: middle;*/
}
.menu-list a{
    color: #333;
    font-size: 16px;
    display: block;
    padding: 0 8px;
    font-weight: 500;
}
/*轮播图*/
.slide-box{
    position: relative;
}
.slide-item{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.slide-item1{
    background-color: #2311b5;
}
/*.slide-item2{*/
    /*background-color: #e8e8e8;*/
/*}*/
/*.slide-item3{*/
    /*background-color: #1a181d;*/
/*}*/
/*.slide-item4{*/

/*}*/
/*.slide-item5{*/

/*}*/
/*.slide-item6{*/

/*}*/
.slide-item-link{
    width: 1230px;
    display: block;
    margin: 0 auto;
}
.slide-item-link img{
    width: 1230px;
    height: 500px;
    display: block;
}
/* category*/
.category-box{
    width: 200px;
    position: relative;
    top:-36px;
    height: 500px;
}

.category-title{
    height: 36px;
    background: #ff0036;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
}
.category-box i{
    color: #fff;
    margin: 0 14px;
}
.category-list{
    background: rgba(0,0,0,0.55);
    /*background: #000;
    opacity:0.1;*/
    height: 500px;
}
.category-item{
    height: 31px;
    line-height: 31px;
    font-size: 14px;
}
.category-item>a{
    display: block;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.category-item:hover{
    background: #fff;
}
.category-item:hover>a,.category-item:hover>a>i{
    color: #FF0036;
}




/*brand 开始*/
.tmall-content{
    background-color: #f5f5f5;
    padding-top: 32px;
}
.brand-wrapper{
    overflow: hidden;
}
.brand-item{
    width: 234px;
    float: left;
}
.brand-item2{
    width: 474.41px;
    height: 417px;
    float: left;
    margin-left: 8px;
}
.brand-item h2{
    height: 55px;
    line-height: 55px;
    background-color: #ffffff;
    padding-left: 8px;
    color: #333;
    font-family:"Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.brand-item2 h2{
    height: 55px;
    line-height: 55px;
    background-color: #ffffff;
    padding-left: 8px;
    color: #333;
    font-family:"Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.b-title{
    font-size: 18px;
    font-weight: bold;

}
.b-sale{
    font-size: 14px;
    font-weight: 700;
}
.b-more{
    float: right;
    margin-right: 13px;
    color: #9d9d9d;
}
.b-img{
    width: 234px;
    height: 316px;
}
.b-img2{
    height: 316px;
}
.b-img3{
    height: 316px;
}
.b-img:hover{
    opacity:0.7;
    filter:alpha(opacity= 70);
}
.b-img2:hover{
    opacity:0.7;
    filter:alpha(opacity= 70);
}
.b-img3:hover{
    opacity:0.7;
    filter:alpha(opacity= 70);
}


/*brand 结束*/




/*brand-list 开始*/



.brand-list-wrapper{
    margin-top: 10px;
}
.brand-list{
overflow: hidden;
color: #999;
}
.brand-list-item{
    width: 122px;
    height: 108px;
    background-color: #fff;
    padding-top: 29px;
    box-sizing:border-box ;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    position: relative;
}
.brand-list-item img{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
.brand-list-hover{
    width: 122px;
    height: 108px;
    background:rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.b-list-word{
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
.b-list-btn{
    color: #fff;
    background: #ff0036;
    display: block;
    width: 65px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 10px;
    margin: 5px auto;
}
.brand-list-item:hover .brand-list-hover{
    display: block;

}







/*brand-list 结束*/
